doctype html 
head 
    title OpenRGB Supported Devices
    link(rel='shortcut icon' type='image' href='../../../static/images/favicon.webp')
    meta(charset='utf-8')
    meta(name='description' content="Open source RGB lighting control that doesn't depend on manufacturer software")
    //OpenGraph Tags
    meta(property='og:image' content='../../../static/images/og-image.png')
    meta(property='og:image:width' content='237')
    meta(property='og:image:height' content='237')
    meta(property='og:description' content="Open source RGB lighting control that doesn't depend on manufacturer software")
    meta(property='og:title' content='OpenRGB')
    meta(property='og:url' content='https://openrgb.org')
    link(rel='stylesheet' href='../../css/devices.styl')
    script(src='../../../node_modules/jquery/dist/jquery.min.js')
    script(src='../../js/controller.js')