doctype html
//
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
head
  title OpenRGB
  include includes/head.pug

// Header
include includes/header.pug
  
// Nav
include includes/nav.pug

// Banner
section.banner.half
  article
    img(src='../../static/images/green.webp' alt='OpenRGB green color scheme')
    .inner
      header
        p Open source RGB lighting control that doesn&apos;t depend on manufacturer software
      button
        a(href='#downloads') Download
// Description
section#description.wrapper.style2
  .inner
    p
      | One of the biggest complaints about RGB is the software ecosystem surrounding it. Every manufacturer has
      | their own app, their own brand, their own style. If you want to mix and match devices, you end up with a
      | ton of conflicting, functionally identical apps competing for your background resources. On top of that,
      | these apps are proprietary and Windows-only. Some even require online accounts. What if there was a way
      | to control all of your RGB devices from a single app, on both Windows and Linux, without any nonsense?
      | That is what OpenRGB sets out to achieve. One app to rule them all.
// Banner
section.banner.half
  article
    img(src='../../static/images/green.webp' alt='')
// One
section#one.wrapper.style2
  .inner
    .grid-style
      div
        .box
          .image.fit
            img(src='../../static/images/OpenRGB-0.9.webp' alt='OpenRGB user interface')
          .content
            header.align-center
              p Control RGB without wasting system resources
              h2 Lightweight User Interface
            p
              | OpenRGB keeps it simple with a lightweight user interface that doesn&apos;t waste background
              | resources with excessive custom ../../static/images and styles. It is light on both RAM
              | and CPU usage, so your system can continue to shine without cutting into your gaming or
              | productivity performance.
      div
        .box
          .image.fit
            img(src='../../static/images/rgb_apps.webp' alt='OpenRGB rules them all')
          .content
            header.align-center
              p Control RGB from a single app
              h2 Eliminate Bloatware
            p
              | If you have RGB devices from many different manufacturers, you will likely have many
              | different programs installed to control all of your devices. These programs do not sync
              | with each other, and they all compete for your system resources. OpenRGB aims to replace
              | every single piece of proprietary RGB software with one lightweight app.
// Two
section#two.wrapper.style3
  .inner
    header.align-center
      p Synchronize lighting across multiple brands of devices
// Three
section#one.wrapper.style2
  .inner
    .grid-style
      div
        .box
          .image.fit
            img(src='../../static/images/OpenRGB_Code.webp' alt='OpenRGB is open source software')
          .content
            header.align-center
              p Contribute your RGB devices
              h2 Open Source
            p
              | OpenRGB is free and open source software under the GNU General static License version 2.
              | This means anyone is free to view and modify the code. If you know C++, you can add your
              | own device with our flexible RGB hardware abstraction layer. Being open source means
              | more devices are constantly being added!
      div
        .box
          .image.fit
            img(src='../../static/images/Windows_Linux_MacOS.webp' alt='OpenRGB is Cross-Platform')
          .content
            header.align-center
              p Control RGB on Windows, Linux, and MacOS
              h2 Cross-Platform
            p
              | OpenRGB runs on Windows, Linux and MacOS. No longer is RGB control a Windows-exclusive
              | feature! OpenRGB has been tested on X86, X86_64, ARM32, and ARM64 processors including
              | ARM mini-PCs such as the Raspberry Pi.
// Four
section#four.wrapper.style3
  .inner
// Five
section#five.wrapper.style2
  .inner
    .grid-style
      div
        .box
          .image.fit
            img(src='../../static/images/OpenRGB_SDK.webp' alt='OpenRGB provides a network-based Software Development Kit')
          .content
            header.align-center
              p Integrate RGB into your games, music, and more
              h2 OpenRGB SDK
            p
              | OpenRGB provides a network-based Software Development Kit, which allows third-party
              | software to control all of your RGB. This allows for game integrations, music
              | visualization, ambient lighting, and anything else you can imagine. SDK bindings are
              | available for multiple programming languages including C++, Python, C#, Java, and more.
              | OpenRGB also includes an SDK client so you can synchronize multiple systems over the
              | network.
      div
        .box
          .image.fit
            img(src='../../static/images/plugins.webp' alt='OpenRGB Plugins')
          .content
            header.align-center
              p Extend OpenRGB with Plugins
              h2 Plugin Interface
            p
              | OpenRGB provides a plugin interface. Plugins can add additional functionality to the
              | OpenRGB user interface. These can provide new features without having to run external
              | software. Existing plugins include an effects engine, an E1.31 data receiver, and a
              | visual layout editor.
// Six
section#six.wrapper.style3
  .inner
// Seven
section#downloads.wrapper.style2
  #dl.inner
    header.align-center
      h1 Download OpenRGB 0.9 (Stable)
      p
        | More stable than the experimental version, but less often updated
        br
        | Ubuntu based distros 20.10 and older, use Debian Buster .deb
        br
        | Ubuntu based distros 21.04 and newer,
        | &#x9;&#x9;&#x9;&#x9;&#x9;use Debian Bullseye .deb
        br
        br
        a(href='devices_0.9.pug') Supported Devices for Version 0.9
    header.align-center
      a(href='/releases/release_0.9/OpenRGB_0.9_Windows_64_b5f46e3.zip')
        | Windows (64-bit)
      | 
      span - 
      a(href='/releases/release_0.9/OpenRGB_0.9_Windows_32_b5f46e3.zip')
        | Windows (32-bit)
      br
      br
      a(href='/releases/release_0.9/OpenRGB_0.9_x86_64_b5f46e3.AppImage')
        | Linux (64-bit AppImage)
      | 
      span - 
      a(href='/releases/release_0.9/OpenRGB_0.9_i386_b5f46e3.AppImage')
        | Linux (32-bit AppImage)
      br
      a(href='/releases/release_0.9/openrgb_0.9_amd64_buster_b5f46e3.deb')
        | Linux (Debian Buster 64-bit .deb)
      | 
      span - 
      a(href='/releases/release_0.9/openrgb_0.9_i386_buster_b5f46e3.deb')
        | Linux (Debian Buster 32-bit .deb)
      br
      a(href='/releases/release_0.9/openrgb_0.9_amd64_bullseye_b5f46e3.deb')
        | Linux (Debian Bullseye 64-bit .deb)
      | 
      span - 
      a(href='/releases/release_0.9/openrgb_0.9_i386_bullseye_b5f46e3.deb')
        | Linux (Debian Bullseye 32-bit .deb)
      br
      a(href='/releases/release_0.9/openrgb_0.9_amd64_bookworm_b5f46e3.deb')
        | Linux (Debian Bookworm 64-bit .deb)
      | 
      span - 
      a(href='/releases/release_0.9/openrgb_0.9_i386_bookworm_b5f46e3.deb')
        | Linux (Debian Bookworm 32-bit .deb)
      br
      a(href='/releases/release_0.9/openrgb_0.9_x86_64_f35_b5f46e3.rpm')
        | Linux (Fedora 35 64-bit .rpm)
      | 
      span - 
      a(href='/releases/release_0.9/openrgb_0.9_x86_64_f36_b5f46e3.rpm')
        | Linux (Fedora 36 64-bit .rpm)
      br
      br
      a(href='/releases/release_0.9/OpenRGB_0.9_MacOS_ARM64_b5f46e3.zip')
        | MacOS (Apple Silicon ARM64)
      | 
      span - 
      a(href='/releases/release_0.9/OpenRGB_0.9_MacOS_Intel_b5f46e3.zip')
        | MacOS (Intel)
    br
    header#pipeline.align-center
      h1 Download OpenRGB Pipeline (Experimental)
      p Often updated with new features and support for new devices, but less tested
        br
        | For current Ubuntu based distros (22.04 LTS and newer) use Debian Bookworm .deb
        br
        | Ubuntu 20.04 LTS based distros use Debian Buster .deb
        br
        | For any other distro that is not listed please download the appropriate AppImage and be sure to 
        a(href="https://gitlab.com/CalcProgrammer1/OpenRGB#installing-udev-rules-manually") install the UDEV rules
        | .
        br
        br
        a(href='devices.pug') Supported Devices for Experimental
    header#pl.align-center
      a(href='https://gitlab.com/CalcProgrammer1/OpenRGB/-/jobs/artifacts/master/download?job=Windows 64')
        | Windows
        | (64-bit)
      | 
      span - 
      a(href='https://gitlab.com/CalcProgrammer1/OpenRGB/-/jobs/artifacts/master/download?job=Windows 32')
        | Windows
        | (32-bit)
      br 
      br
      a(href='https://gitlab.com/CalcProgrammer1/OpenRGB/-/jobs/artifacts/master/download?job=Linux 64 AppImage')
        | Linux
        | (64-bit AppImage)
      | 
      span - 
      a(href='https://gitlab.com/CalcProgrammer1/OpenRGB/-/jobs/artifacts/master/download?job=Linux 32 AppImage')
        | Linux
        | (32-bit AppImage)
      br
      a(href='https://gitlab.com/CalcProgrammer1/OpenRGB/-/jobs/artifacts/master/download?job=Linux 64 .deb (Debian Buster)')
        | Linux
        | (Debian Buster 64-bit .deb)
      | 
      span - 
      a(href='https://gitlab.com/CalcProgrammer1/OpenRGB/-/jobs/artifacts/master/download?job=Linux 32 .deb (Debian Buster)')
        | Linux
        | (Debian Buster 32-bit .deb)
      br
      a(href='https://gitlab.com/CalcProgrammer1/OpenRGB/-/jobs/artifacts/master/download?job=Linux+64+.deb+%28Debian+Bookworm%29')
        | Linux
        | (Debian Bookworm 64-bit .deb)
      | 
      span - 
      a(href='https://gitlab.com/CalcProgrammer1/OpenRGB/-/jobs/artifacts/master/download?job=Linux+32+.deb+%28Debian+Bookworm%29')
        | Linux
        | (Debian Bookworm 32-bit .deb)
      br
      a(href='https://gitlab.com/CalcProgrammer1/OpenRGB/-/jobs/artifacts/master/download?job=Linux+64+f35+rpm')
        | Linux
        | (Fedora 35 64-bit .rpm)
      | 
      span - 
      a(href='https://gitlab.com/CalcProgrammer1/OpenRGB/-/jobs/artifacts/master/download?job=Linux+64+f36+rpm')
        | Linux
        | (Fedora 36 64-bit .rpm)
      br
      br
      a(href='https://gitlab.com/CalcProgrammer1/OpenRGB/-/jobs/artifacts/master/download?job=MacOS ARM64')
        | MacOS
        | (Apple Silicon ARM64)
      | 
      span - 
      a(href='https://gitlab.com/CalcProgrammer1/OpenRGB/-/jobs/artifacts/master/download?job=MacOS Intel')
        | MacOS
        | (Intel)

// Footer
include includes/footer.pug