doctype html
//
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
head
  title OpenRGB - udev rules
  include includes/head.pug

// Header
include includes/header.pug

// Nav
include includes/nav.pug

// Divider
section#divider.wrapper.style3
  .inner
// Resizing
section#resizing.wrapper.style2
  .inner
    header.align-center
      h2 OpenRGB Udev Rules
    p
      | On Linux, OpenRGB needs permission to access the hardware interfaces used for RGB control. These include 
      | USB and I2C interfaces.  To make accessing these interfaces easier, OpenRGB provides a udev rules file
      | that tells your operating system to allow your user account control over these hardware interfaces,
      | allowing OpenRGB to run without root access while still controlling the hardware.
    header.align-center
      h1 Installing Udev Rules
    p
      | If you're using OpenRGB packaged for your distribution, it is likely that the package includes the rules
      | automatically, so you don't need to do anything extra. The Debian and Fedora packages provided on this 
      | website include the rules. The AUR packages openrgb and openrgb-git also include the rules.
    p
      | However, if you are using the AppImage or Flatpak versions, or just building OpenRGB from source yourself,
      | the rules file will not be installed.  You can instead use the script below to install the udev rules.
    header.align-center
      h1 Download Udev Rules Script
    header.align-center
      a(href='https://openrgb.org/releases/release_0.9/openrgb-udev-install.sh') Download Install Script

// Footer
include includes/footer.pug