doctype html
//
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
head
  title OpenRGB
  meta(charset='utf-8')
  meta(name='description' content='Information about udev rules for OpenRGB.')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='../css/main.css')
  // Favicon
  link(rel='apple-touch-icon' sizes='180x180' href='../../static/favicon/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='../../static/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='../../static/favicon/favicon-16x16.png')
  link(rel='manifest' href='../../static/favicon/site.webmanifest')
  link(rel='mask-icon' href='../../static/favicon/safari-pinned-tab.svg' color='#00d084')
  link(rel='shortcut icon' href='../../static/favicon/favicon.ico')
  meta(name='msapplication-TileColor' content='#00d084')
  meta(name='msapplication-config' content='../../static/favicon/browserconfig.xml')
  meta(name='theme-color' content='#00d084')
  //OpenGraph Tags
  meta(property='og:image' content='../../static/favicon/og-image.jpg')
  meta(property='og:image:width' content='211')
  meta(property='og:image:height' content='211')
  meta(property='og:description' content="Open source RGB lighting control that doesn't depend on manufacturer software")
  meta(property='og:title' content='OpenRGB')
  meta(property='og:url' content='https://openrgb.org')
  // Scripts
  script(src='../../node_modules/jquery/dist/jquery.min.js')
  script(src='../../node_modules/jquery.scrollex/jquery.scrollex.min.js')
  script(src='../../node_modules/skeljs/dist/skel.min.js')
  script(src='../js/util.js')
  script(src='../js/main.js')
// Header
header#header.alt
  .logo
    a(href='index.pug')
      img(src='../../static/images/OpenRGB White.webp' height='75px')
  a(href='#menu') Menu
// Nav
nav#menu
  ul.links
    li
      a(href='https://gitlab.com/CalcProgrammer1/OpenRGB') GitLab
    li
      a(href='releases.pug') Releases
    li
      a(href='plugins.pug') Plugins
    li
      a(href='https://discord.gg/AQwjJPY') Discord
    li
      a(href='https://lemmy.ml/c/OpenRGB/') Lemmy
    li
      a(href='devices_08.pug') Supported Devices
    li
      a(href='https://help.openrgb.org') Troubleshooting
    li
      a(href='resize.pug') Resizing Zones
    li
      a(href='udev.pug') Udev Rules
    li
      a(href='https://www.patreon.com/CalcProgrammer1') Patreon
// Divider
section#divider.wrapper.style3
  .inner
// Resizing
section#resizing.wrapper.style2
  .inner
    header.align-center
      h2 OpenRGB Udev Rules
    p
      | On Linux, OpenRGB needs permission to access the hardware interfaces used for RGB control. These include 
      | USB and I2C interfaces.  To make accessing these interfaces easier, OpenRGB provides a udev rules file
      | that tells your operating system to allow your user account control over these hardware interfaces,
      | allowing OpenRGB to run without root access while still controlling the hardware.
    header.align-center
      h1 Installing Udev Rules
    p
      | If you're using OpenRGB packaged for your distribution, it is likely that the package includes the rules
      | automatically, so you don't need to do anything extra. The Debian and Fedora packages provided on this 
      | website include the rules. The AUR packages openrgb and openrgb-git also include the rules.
    p
      | However, if you are using the AppImage or Flatpak versions, or just building OpenRGB from source yourself,
      | the rules file will not be installed.  You can instead use the script below to install the udev rules.
    header.align-center
      h1 Download Udev Rules Script
    header.align-center
      a(href='https://openrgb.org/releases/release_0.8/openrgb-udev-install.sh') Download Install Script
// Footer
footer#footer
  .container
    ul.icons
      li
        a.icon.fa-gitlab(href='https://gitlab.com/CalcProgrammer1/OpenRGB')
          span.label GitLab
      li
        a.icon.fa-github(href='https://github.com/CalcProgrammer1/OpenRGB')
          span.label GitHub
      li
        a.icon.fa-reddit(href='https://www.reddit.com/r/OpenRGB')
          span.label Reddit
      li
        a.icon.fa-youtube(href='https://www.youtube.com/c/CalcProgrammer1')
          span.label YouTube
      li
        a.icon.fa-twitter(href='https://twitter.com/CalcProgrammer1')
          span.label Twitter
  div
    img(src='https://visitor-badge.glitch.me/badge?page_id=org.openrgb.releases' alt='Visitors')
  .copyright
    | &copy; OpenRGB, 2022
  div
    | OpenRGB is licensed under the GNU General Public License version 2
