footer#footer
  .container
    ul.icons
      li
        a.icon.fa-gitlab(href='https://gitlab.com/CalcProgrammer1/OpenRGB')
          span.label GitLab
      li
        a.icon.fa-github(href='https://github.com/CalcProgrammer1/OpenRGB')
          span.label GitHub
      li
        a.icon.fa-reddit(href='https://www.reddit.com/r/OpenRGB')
          span.label Reddit
      li
        a.icon.fa-youtube(href='https://www.youtube.com/c/CalcProgrammer1')
          span.label YouTube
      li
        a.icon.fa-twitter(href='https://twitter.com/CalcProgrammer1')
          span.label Twitter
  //div
    //img(src='https://visitor-badge.glitch.me/badge?page_id=org.openrgb.index' alt='Visitors')
  .copyright
    | &copy; OpenRGB, 2022
  div
    | OpenRGB is licensed under the GNU General Public License version 2
