nav#menu
  ul.links
    li
      a(href='https://gitlab.com/CalcProgrammer1/OpenRGB') GitLab
    li
      a(href='releases.pug') Releases
    li
      a(href='plugins.pug') Plugins
    li
      a(href='https://discord.gg/AQwjJPY') Discord
    li
      a(href='https://lemmy.ml/c/OpenRGB/') Lemmy
    li
      a(href='devices_0.9.pug') Supported Devices (0.9)
    li
      a(href='devices.pug') Supported Devices (Experimental)
    li
      a(href='https://help.openrgb.org') Troubleshooting
    li
      a(href='resize.pug') Resizing Zones
    li
      a(href='udev.pug') Udev Rules
    li
      a(href='https://www.patreon.com/CalcProgrammer1') Patreon